@import url("styles/header.css");
@import url("styles/about.css");
@import url("styles/work.css");
@import url("styles/education.css");
@import url("styles/projects.css");
@import url("styles/contact.css");
@import url("styles/rodape.css");

:root {
    --fonte-primaria: "Geist";
    --fonte-secundaria: "Hind";
    --fonte-terciaria: "Poppins";
    --branco: #FFFFFF;
    --branco-primaria: #EEEEEE;
    --branco-secundaria: #f7f7f7;
    --branco-terciaria: #EBECEE;
    --preto: #000000;
    --preto-primaria: #131313;
    --preto-secundaria: #1A1A19;
    --preto-terciaria: #121212;
    --cinza: #474646;
    --cinza-medio: #828282;
    --cinza-claro: #858585;
    --vermelho: #8E1616;
    --vermelho-primaria: #AB3130;
    --vermelho-secundaria: #67191F;
    --verde: #31511E;
    --verde-primaria: #294122;
    --verde-secundaria: #162114; 
    --cor-destaque: #EEDBBF;
    --cor-destaque-primaria: #858585;
}

*{
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--branco-secundaria);
    font-size: 16px;
    font-weight: 400;
    font-family: var(--fonte-primaria);
}

.header {
    padding: 2% 0 0 46%; 
    background-color: transparent;
}

.container {
    display: flex;
    gap: 80px;
}

.options__link__number {
    color: var(--vermelho);
    font-weight: 700;
}

.options__link__text {
    color: var(--preto);
    text-transform: uppercase;
}

.options__link {
    font-size: 0.8rem;
    font-weight: 400;
    text-decoration: none;
}
.options__link:hover {
    background-color: var(--cor-destaque);
    font-weight: bold;
}

.presentation {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.options__title__number {
    color: var(--vermelho);
    font-weight: 700;
}

.about__subtitle__name {
    font-size: 1.5rem;
}

.options__title__text {
    background: var(--cor-destaque);
    padding: 2px 6px;
}

.about__text {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.profile__image {
    width: 50%;
    border-radius: 1rem;
}

.cv__link {
    display: center;
    align-items: center;
    justify-content: center;
    gap: 16px;
    border: 1px solid var(--preto);
    width: 17%;
    text-align: start;
    border-radius: 8px;
    font-size: 0.8rem;
    font-weight: 700;
    padding: 12px 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--verde);
    background-color: transparent;
    transition: background-color 0.3s, color 0.3s;
}

.cv__link:hover {
    background-color: var(--vermelho);
    color: var(--branco);
}

.work {
    padding: 5% 15%;
    display: flex;
    justify-content: flex-start;
}

.menu {
    display: flex;
    justify-content: start;
    gap: 50px;
    margin: 20px 0;
}

.menu button {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.menu button:not(:last-child)::after {
    content: "";
    display: inline-block;
    width: 90px; 
    height: 1px; 
    background-color: var(--preto);
    margin-left: 50px;
    vertical-align: middle;
}

.menu button.active {
    color: var(--preto);
    text-decoration: none;
    font-weight: bold;
}
.carousel {
    position: relative;
}

.carousel__item {
    display: none;
}

.carousel__item.active {
    display: block;
}

.workplace {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 30px;
}

.logo__image {
    width: 200px;
    border-radius: 1rem;
    height: auto;
    flex-shrink: 0;
}

.workplace__info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.container__education { 
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    gap: 40px; 
    padding: 5% 15%; 
}

.education, .courses {
    width: 45%;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
}

.education-item {
    margin-bottom: 20px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

li {
    margin-bottom: 5px;
}

.projects {
    padding: 5% 15%;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 0;
}

.projetos__container {
    align-items: flex-start;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 5% 15%;
}

.projeto__card {
    background-color: transparent;
    border: 1px solid var(--preto);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.projeto__card img {
    width: 100%;
    border-radius: 8px;
}

.projeto__card h3 {
    font-size: 1.5em;
    margin: 10px 0;
    color: var(--preto);
}

.projeto__card p {
    font-size: 1em;
    color: var(--preto);
}

@media (max-width: 1024px) {
    .projetos__container {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 768px) {
    .projetos__container {
        grid-template-columns: repeat(1, 1fr); 
    }
}

.contact {
    padding: 5% 15%;
    display: flex;
    justify-content: flex-start;
}

.footer {
    padding: 24px;
    color: var(--cinza-claro);
    background-color: var(--preto-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}