.footer {
    padding: 24px;
    color: var(--branco);
    background-color: var(--preto);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}