.projects {
    padding: 5% 15%;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 0;
}

.projetos__container {
    align-items: flex-start;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 5% 15%;
    padding-top: 40px;
}

.projeto__card {
    background-color: transparent;
    border: 1px solid var(--preto);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.projeto__card img {
    width: 100%;
    border-radius: 8px;
}

.projeto__card h3 {
    font-size: 1.5em;
    margin: 10px 0;
    color: var(--preto);
}

.projeto__card p {
    font-size: 1em;
    color: var(--preto);
}

@media (max-width: 1024px) {
    .projects {
        justify-content: center;
        text-align: center;
    }

    .projetos__container {
        grid-template-columns: 1fr; 
        padding: 5% 10%;
    }
}

@media (max-width: 768px) {
    .projects {
        padding: 5% 8%;
    }

    .projetos__container {
        gap: 15px;
        padding: 5%;
    }

    .projeto__card {
        padding: 15px;
    }

    .projeto__card h3 {
        font-size: 1.3em;
    }

    .projeto__card p {
        font-size: 0.9em;
    }

    .projeto__card button {
        width: 100%;
        font-size: 0.9em;
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .projects {
        padding: 5%;
    }

    .projeto__card h3 {
        font-size: 1.2em;
    }

    .projeto__card p {
        font-size: 0.85em;
    }

    .projeto__card button {
        font-size: 0.85em;
        padding: 8px;
    }
}